<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Iris Application</title>
    </head>
    <body>
        <h1>Iris Application</h1>
        <form action="result">
            <Legend>Length: </Legend><input type="number" name="length_1" id="">
            <Legend>Height: </Legend><input type="number" name="height_1" id="">
            <Legend>Length: </Legend><input type="number" name="length_2" id="">
            <Legend>Height: </Legend><input type="number" name="height_2" id="">
            <input type="submit" name="" id="">
        </form>      
    </body> 
</html>